:root {
    --title-text-color: #434455;
    --accent-color: #2E2F42;
}

/* стилі шрифтів 
Raleway 800
Roboto 400 500 700

*/



.page {
    background-color: #FFFFFF;
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

/* delet dot */
.list {list-style: none;}

/* header */
.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}
.logo-web {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
}

/* site-nav */
.site-nav .link {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: #4D5AE5;}
.site-nav .link.current {color: #4D5AE5;}

/* info-nav */
.info-nav .adress {color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;}
.info-nav .adress:hover,
.info-nav .adress:focus {
    color: #4D5AE5;
}



/* title */
.section-title {color: var(--accent-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;}


/* hero */
.hero {background-color: var(--accent-color);}
.hero-title { color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}
.hero-button {
    background-color: #4D5AE5; color: #FFFFFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
}

/* skills */
.feature .title {color: var(--accent-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

/* team */
.section-team {background-color: #F4F4FD;}
.team .title {color: var(--accent-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

/* footer */
.footer {
    background-color: var(--accent-color);
    color: #E7E9FC;}
.footer .logo {
    color: #F4F4FD;
    font-family: Raleway, sans-serif;}
.footer .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}



/* portfolio */
.p-button {
    background-color: #E7E9FC;
    color: #4D5AE5;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.p-button:hover, .p-button:focus {
    background-color: #4D5AE5;
    color: #FFFFFF;
}

.port-title {color: var(--accent-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2}